<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MatchDay: {{#match}}{{#teamA}}{{name}}{{/teamA}} - {{#teamB}}{{name}}{{/teamB}}{{/match}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/matchday.css" rel="stylesheet">

    <script inline="javascript">

        /*
         * MatchStatus will be in charge of the EventSource that will retrieve
         * the Server-Sent Events (SSE) sent from the server to update the match
         * status.
         *
         * NOTE these events will be rendered in HTML by Thymeleaf, so all needed
         * to insert them into the document will be using the "innerHTML" property.
         */
        function MatchStatus () {

            this.source = null;

            this.start = function () {

                var matchSummaryBlock = document.getElementById("matchStatus");
                var sourceUrl = "/match/{{matchId}}/statusStream";

                this.source = new EventSource(sourceUrl);

                this.source.addEventListener("message", function (event) {
                    // This is just HTML, so no need to do anything else
                    matchSummaryBlock.innerHTML = event.data;
                });

                this.source.onerror = function () {
                    this.close();
                };

            };

            this.stop = function() {
                this.source.close();
            }

        }


        /*
         * MatchComments will be in charge of the EventSource that will retrieve
         * the Server-Sent Events (SSE) sent from the server to update the match
         * comment list.
         *
         * NOTE these events will be rendered in JSON by Spring WebFlux (using Jackson),
         * so we will need to parse them and intervene on the DOM in order to create
         * the needed nodes to display the info coming in the JSON objects.
         */
        function MatchComments () {

            this.source = null;

            this.start = function () {

                var matchCommentsTable = document.getElementById("matchComments");
                var sourceUrl = "/match/{{matchId}}/commentStream?timestamp={{commentsTimestamp}}";

                this.source = new EventSource(sourceUrl);

                this.source.addEventListener("message", function (event) {

                    // These events are JSON, so parsing and DOM fiddling are needed

                    var comment = JSON.parse(event.data);

                    var row = matchCommentsTable.getElementsByTagName("tbody")[0].insertRow(0);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);

                    cell1.className = "author";
                    cell1.innerHTML = comment.author;

                    cell2.className = "text";
                    cell2.innerHTML = comment.text;


                });

                this.source.onerror = function () {
                    this.close();
                };

            };

            this.stop = function() {
                this.source.close();
            }

        }


        /*
         * Instantiate both SSE controller objects.
         */
        matchStatus = new MatchStatus();
        matchComments = new MatchComments();


        /*
         * Register callbacks for starting and stopping the SSE controller.
         */
        window.onload = function() {
            matchStatus.start();
            matchComments.start();
        };
        window.onbeforeunload = function() {
            matchStatus.stop();
            matchComments.stop();
        }

    </script>

</head>
<body>

    <div class="container">

        <div id="logo" class="row">
            <a href="/matches"><img src="/images/matchday_logo.png"></a>
        </div>

        <div class="row">

            <div id="matchStatus" class="col-md-6">
            </div>

            <div class="col-md-6">
                <table id="matchComments" class="table table-striped">
                    <thead>
                        <tr><th colspan="2">Match comments</th></tr>
                    </thead>
                    <tbody>
                        {{#flux.commentStream}}
                        <tr>
                            <td class="author">{{author}}</td>
                            <td class="text">{{text}}</td>
                        </tr>
                        {{/flux.commentStream}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</body>
</html>