{{#flux.statusStream}}
<div>
    <table class="table">
        <tbody>
            <tr class="result">
                <td class="teamA">{{teamAName}}</td>
                <td class="score">{{teamAScore}}</td>
                <td class="score">{{teamBScore}}</td>
                <td class="teamB">{{teamBName}}</td>
            </tr>
            {{#events}}
            <tr class="event{{type}}">
                {{#teamA}}
                <td class="playerA">{{playerName}}</td>
                <td class="eventicon"><img src="/images/{{type}}.png"></td>
                <td class="eventicon"></td>
                <td class="playerB"></td>
                {{/teamA}}
                {{^teamA}}
                <td class="playerA"></td>
                <td class="eventicon"></td>
                <td class="eventicon"><img src="/images/{{type}}.png"></td>
                <td class="playerB">{{playerName}}</td>
                {{/teamA}}
            </tr>
            {{/events}}
        </tbody>
    </table>
</div>
{{/flux.statusStream}}
